# --- Python & Django Derleme ve Önbellek Dosyaları ---
*.log
*.pot
*.pyc
__pycache__/
dbshell
*.sqlite3
*.sqlite3-journal

*.cpython-*.pyc 


# --- Sanal Ortamlar (venv/env) ve Güvenlik ---
.env

venv/
env/
.venv/


/static_root/
/staticfiles/
# Media/Statik dosyaların içinde oluşan geçici Mac dosyaları
/media/.DS_Store
/staticfiles/.DS_Store


# --- IDE ve İşletim Sistemi Geçici Dosyaları ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# --- Proje Dağıtım ve Paketleme ---
dist/
build/
*.egg-info/