# --- Python & Django Derleme ve Önbellek Dosyaları ---
*.log
*.pot
*.pyc
__pycache__/
dbshell
*.sqlite3
*.sqlite3-journal
# Migration dosyalarından oluşturulabilen önbellek dosyaları
*.cpython-*.pyc 


# --- Sanal Ortamlar (venv/env) ve Güvenlik ---
# Ortam dosyaları (ÇOK ÖNEMLİ - Zaten ekli, ama korundu)
.env

# Sanal ortam dizinleri (Zaten ekli)
venv/
env/
.venv/

# --- Medya ve Statik Dosyalar (Üretilenler) ---
# Kullanıcı tarafından yüklenen dosyalar (Zaten ekli)
/media/

# Canlı sunucuya (Production) toplanan statik dosyalar (Zaten ekli)
/static_root/
/staticfiles/
# Media/Statik dosyaların içinde oluşan geçici Mac dosyaları
/media/.DS_Store
/staticfiles/.DS_Store


# --- IDE ve İşletim Sistemi Geçici Dosyaları ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# --- Proje Dağıtım ve Paketleme ---
# Proje paketlenirken oluşan dosyalar
dist/
build/
*.egg-info/